
.about .aboutCompany {
    position: absolute;
    top: -7px;
    background-image: url(../../../images/about/gywm_hezuohuoban_bg.png);
    width: 142px;
    height: 41px;
    text-align: center;
    color: #fff;
    line-height: 40px;
}
.about .company{
	padding: 25px;
	padding-top: 60px;
}
.about .companyIma{
	width: 600px;
	height: 350px;
	display: block;
	/*background: url(../../../images/about/company/company.jpg);*/
	/*background-size:cover ;*/
	margin: 0 auto;
	
}
