<div class="aboutPartner">
	<div class="aPartner">合作伙伴</div>
	<div class="p-t-10"></div>
	<div class="content">
		<p class="f-z14 c-888 p-t-30">合作伙伴关系是人与人之间或企业与企业之间达成的最高层次的合作关系</p>
		<p class="f-z14 c-888 p-t-25">它是指在相互信任的基础上，双方为了实现共同的目标而采取的共担风险、共享利益的长期合作关系</p>
		<ul class="imgs">
			<li>
				<img src="../apps/images/about/gywm_1.png"/>				
			</li>
			<li>
				<img src="../apps/images/about/gywm_3.png"/>				
			</li>
			<li>
				<img src="../apps/images/about/gywm_4.png"/>				
			</li>
			<li>
				<img src="../apps/images/about/gywm_5.png"/>				
			</li>
			<li>
				<img src="../apps/images/about/gywm_1.png"/>				
			</li>
			<li>
				<img src="../apps/images/about/gywm_3.png"/>				
			</li>
			<li>
				<img src="../apps/images/about/gywm_4.png"/>				
			</li>
			<li>
				<img src="../apps/images/about/gywm_5.png"/>				
			</li>
		</ul>
		<div class="clear"></div>
	</div>
	
</div>
