<div class="about">
	<div class="aboutExpert">顾问专家</div>
	<div class="expert">
		<ul class="">
			<li class="fl w275">
				<img src="../apps/images/about/expert/cpjs_dingliangfenxi_icon.png"/>
				<div class="p-t-15 c-555 t-a-c line-ellipsis-3">宝龙地产是深港通最好的投资标的之一</div>
				
			</li>	
			<li class="fl w275">
				<img src="../apps/images/about/expert/cpjs_dingliangfenxi_icon.png"/>
				<div class="p-t-15 c-555 t-a-c line-ellipsis-3">新城控股挖走王健林爱将 还要公开挑战万达</div>
				
			</li>
			<li class="fl w275">
				<img src="../apps/images/about/expert/cpjs_dingliangfenxi_icon.png"/>
				<div class="p-t-15 c-555 t-a-c line-ellipsis-3">产品通过自动获取工商信息、税务信息、招聘信息等网络公共信息的方式，提升了客户收集企业征信基础资，工商信息、税务信息等网络公共料</div>
				
			</li>
			<li class="fl w275">
				<img src="../apps/images/about/expert/cpjs_dingliangfenxi_icon.png"/>
				<div class="p-t-15 c-555 t-a-c line-ellipsis-3">宝龙地产是深港通最好的投资标的之一</div>
				
			</li>
			
		</ul>
	</div>

</div>
